<div class="container">
  <div class="filters">
    <a class="button">Heads</a>
    <a class="button">Arms</a>
    <a class="button">Torsos</a>
    <a class="button">Bases</a>
    <a class="button">All</a>
  </div>

  <ul class="products">
    <li class="product-item">
      <div class="product">
        <!--Mostramos la informacion-->
        <div class="product-details">
            <!--Agregamos la expresión de interpolación
          <img src="{{'/assets/images/robot-parts'}}" alt="" />-->
          <!--Interpolacion con atributo
            <img [src]="'/assets/images/robot-parts' + product.imageName" [alt]="product.name" />
        -->
        <!--Convinar el atributo con funcion, tambien se pueden pasar parametros a esta funcion-->
          <img [src]="getImageUrl(product)" [alt]="product.name" />
          <div class="product-info">
            <!--Añadimos una expresion de interpolación y asi podemos acceder directamente a las propiedades en nuestro componente catalogo -->
            <div class="name">{{product.name}}</div>
            <div class="description">{{product.description}}</div>
            <div class="category">Part Type: {{product.category}}</div>
          </div>
        </div>
        <!--Intruzco el dolar delante para que se vea bien y le añado el toFixed para darle los decimales que quiero-->
        <div class="price">${{product.price.toFixed(2)}}
          <div></div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
