
    <!--Usamos ngFor para que se repita en toda la matriz, lo uso para recorrer cada elemento de una matriz
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <div class="product">-->
        <!--Mostramos la informacion objecto
        <div class="product-details">
            Agregamos la expresión de interpolación
          <img src="{{'/assets/images/robot-parts'}}" alt="" />-->
          <!--Interpolacion con atributo
            <img [src]="'/assets/images/robot-parts' + product.imageName" [alt]="product.name" />
        -->
        <!--Convinar el atributo con funcion, tambien se pueden pasar parametros a esta funcion-->
        <!--Esto es para un metodo de objecto
          <img [src]="getImageUrl(product)" [alt]="product.name" />
          <div class="product-info">
            Añadimos una expresion de interpolación y asi podemos acceder directamente a las propiedades en nuestro componente catalogo 
            <div class="name">{{product.name}}</div>
            <div class="description">{{product.description}}</div>
            <div class="category">Part Type: {{product.category}}</div>
          </div>
        </div>-->
        <!--Intruzco el dolar delante para que se vea bien y le añado el toFixed para darle los decimales que quiero
        <div class="price">${{product.price.toFixed(2)}}
          <div></div>
          <button class="cta">Buy</button>
        </div>-->

        <!--Ahora para una matriz voy a usar las directivas que son como atributos, hay un puñado de directivas integradas, pero incluyen cosas como ngClass, ngIf y ngFor
        
        
        <div class="product-details">
            <img [src]="'/assets/images/robot-parts' + product.imageName" [alt]="product.name" />
       
        
          <img [src]="getImageUrl(product)" [alt]="product?.name" />
          <div class="product-info">
            
            <div class="name">{{product?.name}}</div>
            <div class="description">{{product.description}}</div>
            <div class="category">Part Type: {{product?.category}}</div>
          </div>
        </div>
        
        <div class="price">${{product.price.toFixed(2)}}
          <div></div>
          <button class="cta">Buy</button>
        </div>
      </div>
      

    </li>
  </ul>
</div>-->
<div class="container">
  <div class="filters">
    <a class="button " (click)="filter='Heads'">Heads</a>
    <a class="button" (click)="filter='Arms'">Arms</a>
    <a class="button" (click)="filter='Torsos'">Torsos</a>
    <a class="button" (click)="filter='Bases'">Bases</a>
    <a class="button" (click)="filter=''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let Product of getFilteredProducts()">
      <!--Aqui vamos a recibir algun dato sobre el hijo
      Voy a usar una sintaxis de corchete que lo hemos visto abtes para las fijaciones-->
        <bot-product-details [product]="Product" (buy)="addToCart(Product)"></bot-product-details>
        
      
    </li>
  </ul>
</div>
